{# Left navigation block with kink for home, archive, star, and add ticket. #}
{% block left_navigation_block %}
<ul class="nav navbar-nav">
    {# Home menu #}
    <li role="presentation">
        <a role="menuitem" href="{{ path('home') }}">
            <span class="glyphicon glyphicon-home"></span> {% trans %}home{% endtrans %}
        </a>
    </li>
    {# Archives menu #}
    <li role="presentation">
        <a role="menuitem" href="{{ path('archives') }}">
            <span class="glyphicon glyphicon-bookmark"></span> {% trans %}archive{% endtrans %}
        </a>
    </li>
    {# Stars menu #}
    <li role="presentation">
        <a role="menuitem" href="{{ path('stars') }}">
            <span class="glyphicon glyphicon-star"></span> {% trans %}star{% endtrans %}
        </a>
    </li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# Add tickets menu #}
        <li role="presentation">
            <a role="menuitem" href="{{ path('add-ticket') }}">
                <span class="glyphicon glyphicon-tag"></span> {% trans %}add_ticket{% endtrans %}
            </a>
        </li>
    {% endif %}
</ul>
{% endblock left_navigation_block %}


{# Right navigation block with link for sign up, sign in and sign out. #}
{% block right_navigation_block %}
{# Login / Sign in menu #}
<ul class="nav navbar-nav navbar-right">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li role="presentation">
            <a role="menuitem" href="{{ path('home') }}">
                <span class="glyphicon glyphicon-user"></span> {{ app.user.username }}
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" href="{{ path('logout') }}">
                <span class="glyphicon glyphicon-log-out"></span> {% trans %}logout{% endtrans %}
            </a>
        </li>
    {% else %}
        <li role="presentation">
            <a role="menuitem" href="{{ path('sign_up') }}">
                <i class="fa fa-user" aria-hidden="true"></i> {% trans %}sign_up{% endtrans %}
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" href="{{ path('login') }}">
                <span class="glyphicon glyphicon-log-in"></span> {% trans %}login{% endtrans %}
            </a>
        </li>
    {% endif %}
</ul>
{% endblock right_navigation_block %}


{% block navigation_block %}
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse"
                    data-target="main-menu−collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}"> Notepad</a>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="main-menu−collapse">
            {{ block('left_navigation_block') }}
            {{ block('right_navigation_block') }}
        </div>
    </div>
</nav>
{% endblock navigation_block %}
