{% extends 'layout.html.twig' %}

{% block keywords %}
    Notepad
{% endblock %}

{% block meta_tags %}{% endblock %}

{% block stylesheet_block %}{% endblock %}

{% block title %}
    {% trans %}home{% endtrans %}
{% endblock %}

{% block content %}
    <h1>{% trans %}home{% endtrans %}</h1>

    {# Tab menu #}
    <ul class="nav nav-tabs nav-justified">
        {% for label in labels %}
            {% if loop.first %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="#{{ label.title|lower|replace({' ' : '_'}) }}" data-toggle="tab">
                    {{ label.title|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for ticket in tickets %}
            {% if loop.first %}
                <section class="tab-pane fade in active" id="{{ ticket.label.title|lower|replace({' ' : '_'}) }}">
            {% else %}
                <section class="tab-pane fade" id="{{ ticket.label.title|lower|replace({' ' : '_'}) }}">
            {% endif %}
                    <h2>{{ ticket.title }}</h2>
                    <p>{{ ticket.content|truncate(50, true, '...') }}</p>
            </section>
        {% else %}
            <p>No ticket found.</p>
        {% endfor %}
    </div>
{% endblock %}
